# pre-commit hooks require a user to have installed `pre-commit`:
#   $ brew install pre-commit
# Then install the hooks within the repo:
#   $ cd /PATH/TO/Khan
#   $ pre-commit install

repos:
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        files: .py
        args:
        - -r

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    # " -> '
    -   id: double-quote-string-fixer
    # ensures files are either empty or end with a blank line
    -   id: end-of-file-fixer
    # sorts requirements
    -   id: requirements-txt-fixer
    # valid python file
    -   id: check-ast
