# pre-commit hooks require a user to have installed `pre-commit`:
#   $ brew install pre-commit
# Then install the hooks within the repo:
#   $ cd /PATH/TO/REPO
#   $ pre-commit install
exclude: '^docs/code-comparisons/'  # skip the code comparisons directory
repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.17.0
  hooks:
    - id: pyupgrade
      args: [--py38-plus]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.5.7
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
#      args: [ --diff ]  # Use for previewing changes
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
   - id: trailing-whitespace
   # ensures files are either empty or end with a blank line
   - id: end-of-file-fixer
   # sorts requirements
   - id: requirements-txt-fixer
   # valid python file
   - id: check-ast
- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
   - id: flake8
