connectorx
dask
dask-expr; python_version >= '3.9'
datasets  # huggingface datasets
diskcache
dlt
fsspec
graphviz
kaleido
kedro
lancedb
lightgbm
lxml
lz4
matplotlib
mlflow
networkx
openpyxl  # for excel data loader
pandera
plotly
polars
pyarrow
pyreadstat  # for SPSS data loader
pytest
pytest-asyncio
pytest-cov
PyYAML
scikit-learn
sqlalchemy==1.4.49; python_version == '3.7.*'
sqlalchemy; python_version >= '3.8'
typer
xgboost
xlsx2csv  # for excel data loader
xlsxwriter  # Excel export requires 'xlsxwriter'
