dask
diskcache
fsspec
graphviz
kaleido
lightgbm
lxml
lz4
matplotlib
networkx
openpyxl  # for excel data loader
pandera
plotly
polars
pyarrow
pytest
pytest-cov
scikit-learn
sqlalchemy==1.4.49; python_version == '3.7.*'
sqlalchemy; python_version >= '3.8'
typer
xgboost
