-r requirements-dev.txt
alabaster>=0.7,<0.8,!=0.7.5  # read the docs pins
commonmark==0.9.1 # read the docs pins
dask-expr
dask[distributed]
ddtrace
diskcache
# required for all the plugins
dlt
# furo -- install from main for now until the next release is out:
git+https://github.com/pradyunsg/furo@main
gitpython # Required for parsing git info for generation of data-adapter docs
grpcio-status
lightgbm
lxml
lz4
mock==1.0.1 # read the docs pins
myst-parser==2.0.0  # latest version of myst at this time
numpy < 2.0.0
pandera
pillow
polars
pyarrow >= 1.0.0
pyspark
PyYAML
ray
readthedocs-sphinx-ext<2.3 # read the docs pins
recommonmark==0.5.0  # read the docs pins
scikit-learn
slack-sdk
sphinx # unpinned because myst-parser doesn't break anymore
sphinx-autobuild
sphinx-rtd-theme # read the docs pins
sphinx-sitemap
tqdm
xgboost
