-r requirements-dev.txt
alabaster>=0.7,<0.8,!=0.7.5  # read the docs pins
commonmark==0.9.1 # read the docs pins
dask[distributed]
# furo -- install from main for now:
git+https://github.com/pradyunsg/furo@main
gitpython # Required for parsing git info for generation of data-adapter docs
grpcio-status
lightgbm
lxml
lz4
mock==1.0.1 # read the docs pins
myst-parser==2.0.0  # latest version of myst at this time
pandera
pillow
# required for all the plugins
polars
pyarrow >= 1.0.0
pyspark
ray
readthedocs-sphinx-ext<2.3 # read the docs pins
recommonmark==0.5.0  # read the docs pins
scikit-learn
sphinx # unpinned because myst-parser doesn't break anymore
sphinx-autobuild
sphinx-rtd-theme # read the docs pins
sphinx-sitemap
xgboost
