from hamilton import dataflow, driver
{%- if use_executor %}
from hamilton.execution import executors
{% endif -%}
{%- if dynamic_import %}
# downloads into ~/.hamilton/dataflows and loads the module -- WARNING: ensure you know what code you're importing!
  {%- if is_user %}
{{ MODULE_NAME }} = dataflow.import_module("{{MODULE_NAME}}", "{{USER}}")
  {%- else %}
{{ MODULE_NAME }} = dataflow.import_module("{{MODULE_NAME}}")
  {%- endif %}
{%- else %}
  {%- if is_user %}
from hamilton.contrib.user.{{USER}} import {{MODULE_NAME}}
  {%- else %}
from hamilton.contrib.dagworks import {{MODULE_NAME}}
  {%- endif %}
{%- endif %}
{%- if use_executor %}
# switch this out for ray, dask, etc. See docs for more info.
remote_executor = executors.MultiThreadingExecutor(max_tasks=20)
{% endif %}
dr = (
    driver.Builder()
    {%- if use_executor %}
    .with_executor(remote_executor)
    {%- endif %}
    .with_config({})  # replace with configuration as appropriate
    .with_modules({{MODULE_NAME}})
    .build()
)
# execute the dataflow, specifying what you want back. Will return a dictionary.
result = dr.execute(
    [{{MODULE_NAME}}.CHANGE_ME, ...],  # this specifies what you want back
    inputs={...}  # pass in inputs as appropriate
)
