version: 2.1
jobs:
  check_for_changes:
    docker:
      - image: circleci/python:3.10
    steps:
      - checkout
      - run:
          name: Check for changes in specific paths
          command: |
            set +e
            git diff --name-only HEAD^ HEAD | grep '^.ci\|^.circleci\|^graph_adapter_tests\|^hamilton\|^plugin_tests\|^tests\|^requirements\|setup' > /dev/null
            if [ $? -eq 0 ]; then
              echo "Changes found in target paths."
              echo 'true' > /tmp/changes_detected
            else
              echo "No changes found in target paths."
              echo 'false' > /tmp/changes_detected
            fi
      - persist_to_workspace:
          root: /tmp
          paths:
            - changes_detected
  test:
    parameters:
      python-version:
        type: string
      task:
        type: string
    docker:
      - image: cimg/python:<< parameters.python-version >>
    environment:
      TASK: << parameters.task >>
      CI: true
    steps:
      - checkout
      - attach_workspace:
          at: /tmp
      - run:
          name: Check if changes were detected
          command: |
            if grep -q 'false' /tmp/changes_detected; then
              echo "No changes detected, skipping job..."
              circleci-agent step halt
            fi
      - run:
          name: install dependencies
          command: .ci/setup.sh
      - run:
          name: run tests
          command: .ci/test.sh
workflows:
  unit-test-workflow:
    jobs:
      - check_for_changes
      - test:
          requires:
            - check_for_changes
          name: build-py38
          python-version: '3.8'
          task: tests
      - test:
          requires:
            - check_for_changes
          name: build-py39
          python-version: '3.9'
          task: tests
      - test:
          requires:
            - check_for_changes
          name: build-py310
          python-version: '3.10'
          task: tests
      - test:
          name: build-py311
          python-version: '3.11'
          task: tests
      - test:
          name: build-py312
          python-version: '3.12'
          task: tests
      - test:
          name: pre-commit
          python-version: '3.9'
          task: pre-commit
      - test:
          requires:
            - check_for_changes
          name: dask-py39
          python-version: '3.9'
          task: dask
      - test:
          requires:
            - check_for_changes
          name: ray-py39
          python-version: '3.9'
          task: ray
      - test:
          requires:
            - check_for_changes
          name: vaex-py39
          python-version: '3.9'
          task: vaex
      - test:
          requires:
            - check_for_changes
          name: spark-py39
          python-version: '3.9'
          task: pyspark
      - test:
          requires:
            - check_for_changes
          name: spark-py310
          python-version: '3.10'
          task: pyspark
      - test:
          requires:
            - check_for_changes
          name: spark-py311
          python-version: '3.11'
          task: pyspark
#      - test: # TODO -- enable when install works on CircleCI
#          requires:
#            - check_for_changes
#          name: spark-py312
#          python-version: '3.12'
#          task: pyspark
      - test:
          requires:
            - check_for_changes
          name: integrations-py38
          python-version: '3.8'
          task: integrations
      - test:
          requires:
            - check_for_changes
          name: integrations-py39
          python-version: '3.9'
          task: integrations
      - test:
          requires:
            - check_for_changes
          name: integrations-py310
          python-version: '3.10'
          task: integrations
      - test:
          requires:
            - check_for_changes
          name: integrations-py311
          python-version: '3.11'
          task: integrations
      - test:
          requires:
            - check_for_changes
          name: integrations-py312
          python-version: '3.12'
          task: integrations
