# {{ template_name | replace('_', '\\_') }}

{{ template_description | wordwrap(100) }}

## Getting started

To get started, all you have to do is run:

1. Ensure you have the right python dependencies installed.
```bash
pip install -r requirements.txt
```

2. Run the `run.sh` script.
```bash
./run.sh
```
